<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static "CSS/style.css" %}">
  <title>Category App Index</title>
</head>
<body>
 <h1> List of Category </h1> <br> <a href='breakfast/'>Breakfast</a> <br> <a href='lunch/'>Lunch</a> <br> <a href='dinner/'>Dinner</a> <br> <a href='dining/'>Home</a>
  <table border ="1">
    <tr>
    <th>Name</th>
    <th>Description</th>
    </tr>

    {% for row in categories %}
    <tr>
      <td>{{row.name}}</td>
      <td>{{row.description}}</td>
    </tr>
    {% endfor %}
  </table>
 <img src = "{% static "Images/img_category.jpg" %}"> <br>
<a href= 'form/'>Reservation form </a>
</body>
</html>